{% extends 'administracion/administracion.html' %}

{% block title %}
Administracion | Eliminar Oferta
{% endblock %}

{% block content %}

<section class="section-borrar-categoria">
    <div class="container-borrar-categoria">
        <h2 class="texto-borrar-categoria">Eliminar Oferta {{oferta.nombreOferta}}</h2>
        <p class="parrafo-borrar-categoria">¿Estas seguro de eliminar la categoria "{{oferta.nombreOferta}}"?</p>
        <div class="btns-borrar-categoria">
            <fieldset class="field-borrar-categoria">
                <a href="{% url 'listarOferta' %}">
                    <button class="btn-volver-eliminar">No, Volver</button>
                </a>
                <form action="" method="POST">
                    {% csrf_token %}
                    <input type="submit" value="Si, Eliminar" class="btn-eliminar-objeto">
                </form>
            </fieldset>
        </div>
    </div>
</section>

{% endblock %}