{% extends 'base/paginaPrincipal.html' %}

{% block title %}
Tienda | Garden Store
{% endblock %}

{% block content %}
<section class="container-articulos-tienda">
    <nav class="nav-barra-busqueda">
        <form action="" method="POST" class="form-buscar">
            {% csrf_token %}
            <input type="search" name="busqueda" id="busqueda" class="barra-busqueda" placeholder="Buscar...">
            <div class="container-btn-buscar">
                <button type="submit" class="btn-buscar-tienda">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                </button>
            </div>
        </form>
    </nav>
    <h1 class="titulo-articulos">Lista de Productos</h1>
    <p class="parrafo-titulo-articulos">Bienvenido a nuestra tienda donde tenemos los mejores productos de jardineria</p>
    <h5 class="mensaje-descuento-tienda">{{descuento}}</h5>
    <div class="container-articulos">
        {% if producto %}
            {% for p in producto %}
                {% if p.stock == 0 %}
                    <article class="articulo">
                        <figure class="figure-imagen-articulo">
                            <img src="{{p.imagen.url}}" alt="Imagen del producto" class="imagen-articulo">
                        </figure>
                        <div class="contenido-articulo">
                            <h3 class="titulo-articulo">{{ p.nombreProducto }}</h3>
                            <ul class="lista-articulo">
                                <li class="detalle-articulo">
                                    <h5 class="texto-detalle-articulo">Precio: $ {{ p.precio }}</h5>
                                </li>
                                <li class="detalle-articulo">
                                    <h5 class="texto-detalle-articulo">Cantidad Disponible: <b>Sin Stock Disponible</b></h5>
                                </li>
                                <li class="detalle-articulo">
                                    <h5 class="texto-detalle-articulo">Categoria: {{ p.idCategoria.nombreCategoria }} </h5>
                                </li>
                            </ul>
                            <a href="{% url 'productoSinStock' %}" class="a-btn-ver-producto">
                                <del>Ver Producto</del>
                            </a>
                        </div>
                    </article>
                {% else %}
                    <article class="articulo">
                        <figure class="figure-imagen-articulo">
                            <img src="{{p.imagen.url}}" alt="Imagen del producto" class="imagen-articulo">
                        </figure>
                        <div class="contenido-articulo">
                            <h3 class="titulo-articulo">{{ p.nombreProducto }}</h3>
                            <ul class="lista-articulo">
                                <li class="detalle-articulo">
                                    <h5 class="texto-detalle-articulo">Precio: $ {{ p.precio }}</h5>
                                </li>
                                <li class="detalle-articulo">
                                    <h5 class="texto-detalle-articulo">Cantidad Disponible: {{ p.stock }}</h5>
                                </li>
                                <li class="detalle-articulo">
                                    <h5 class="texto-detalle-articulo">Categoria: {{ p.idCategoria.nombreCategoria }} </h5>
                                </li>
                            </ul>
                            <a href="{% url 'verProducto' p.slug %}" class="a-btn-ver-producto">
                                Ver Producto
                            </a>
                        </div>
                    </article>
                {% endif %}
            {% endfor %}
        {% else %}
            <h1 class="texto-noproductos">{{mensage}} {{mensage2}} {{mensage3}}</h1>
        {% endif %}
    </div>
</section>
{% endblock %}