{% extends 'administracion/administracion.html' %}

{% block title %}
Administracion | Productos
{% endblock %}

{% block content %}

<section class="section-tabla-productos">
    <div class="container-tabla-productos">
        <h1 class="titulo-tabla-productos">Productos</h1>
        <div class="container-btns-tabla-productos">
            <a href="{% url 'administracion' %}" class="a-btn-volver">
                <button class="btn-volver">Volver</button>
            </a>
            <a href="{% url 'agregarProducto' %}">
                <button class="btn-agregar-producto-admin">Agregar Producto</button>
            </a>
        </div>
        <table class="tabla-productos">
            <thead class="thead-tabla-productos">
                <tr class="tr-tabla-productos">
                    <th class="th-tabla-productos">Nombre Producto</th>
                    <th class="th-tabla-productos">Precio</th>
                    <th class="th-tabla-productos">Stock</th>
                    <th class="th-tabla-productos">Estado</th>
                    <th class="th-tabla-productos">Creado</th>
                    <th class="th-tabla-productos">Categoria</th>
                    <th class="th-tabla-productos">Oferta</th>
                    <th class="th-tabla-productos">Acciones</th>
                </tr>
            </thead>
            <tbody class="tbody-tabla-productos">
                {% if productos %}
                    {% for p in productos %}
                        <tr class="tr-tabla-productos">
                            <td class="td-tabla-productos">
                                {{ p.nombreProducto }}
                            </td>
                            <td class="td-tabla-productos">
                                ${{ p.precio }}
                            </td>
                            <td class="td-tabla-productos">
                                {{ p.stock }}
                            </td>
                            <td class="td-tabla-productos">
                                {% if p.estado == True %}
                                    <i class="icon-tabla-productos-check">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                                        </svg>
                                    </i>
                                {% else %}
                                    <i class="icon-tabla-productos">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                                        </svg>
                                    </i>
                                {% endif %}
                            </td>
                            <td class="td-tabla-productos">
                                {{ p.creado }}
                            </td>
                            <td class="td-tabla-productos">
                                {{ p.idCategoria.nombreCategoria }}
                            </td>
                            <td class="td-tabla-productos">
                                {% if p.idOferta == None %}
                                    No tiene una oferta asignada
                                {% else %}
                                    {{ p.idOferta }}
                                {% endif %}
                            </td>
                            <td class="td-tabla-productos">
                                <a href="{% url 'eliminarProducto' p.id %}" class="a-btn-eliminar">
                                    <button class="btn-eliminar">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                                        </svg>
                                    </button>
                                </a>
                                <a href="{% url 'modificarProducto' p.id %}" class="a-btn-modificar">
                                    <button class="btn-modificar">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-clipboard-plus-fill" viewBox="0 0 16 16">
                                            <path d="M6.5 0A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3Zm3 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3Z"/>
                                            <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1A2.5 2.5 0 0 1 9.5 5h-3A2.5 2.5 0 0 1 4 2.5v-1Zm4.5 6V9H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V10H6a.5.5 0 0 1 0-1h1.5V7.5a.5.5 0 0 1 1 0Z"/>
                                        </svg>
                                    </button>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr class="tr-tabla-productos">
                        <td class="td-tabla-productos" colspan="8">
                            <h3>
                                No hay productos en el sistema
                            </h3>
                        </td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</section>

{% endblock %}