{% extends 'administracion/administracion.html' %}

{% block title %}
Administracion | Modificar Categoria
{% endblock %}

{% block content %}

<section class="section-form-modificar-categoria">
    <div class="container-form-modificar-categoria">
        <form action="" method="POST" class="form-modificar-categoria">
            <h1 class="titulo-form-modificar-categoria">Modificar Categoria {{categoria.nombreCategoria}}</h1>
            {% csrf_token %}
            <fieldset class="field-form-modificar-categoria">
                <label for="nombreCategoria" class="label-form-modificar-categoria">Nombre Categoria</label>
                <input type="text" name="nombreCategoria" value="{{categoria.nombreCategoria}}" id="nombreCategoria" class="input-form-modificar-categoria">
            </fieldset>
            <fieldset class="field-form-modificar-categoria">
                <label for="detalleCategoria" class="label-form-modificar-categoria">Detalle Categoria</label>
                <textarea name="detalleCategoria" id="detalleCategoria" cols="30" rows="3" class="textarea-form-modificar-categoria">{{categoria.detalleCategoria}}</textarea>
            </fieldset>
            <input type="submit" value="Modificar" class="btn-modificar-categoria">
        </form>
    </div>
</section>

{% endblock %}
