{% extends 'base/paginaPrincipal.html' %}

{% block title %}
Suscribirse | Garden Store
{% endblock title %}

{% block content %}
<section class="section-form-subscribirse">
    <div class="container-form-suscribirse">
        <h2 class="titulo-suscribirse">Suscribirse</h2>
        <div class="div-form-suscribirse">
            <form action="" method="POST" class="form-suscribirse">
                {% csrf_token %}
                <fieldset class="field-suscribirse">
                    <label for="usuario" class="label-form-subscribirse">Nombre Usuario</label>
                    <input type="text" required name="usuario" id="usuario" class="input-suscribirse">
                </fieldset>
                <fieldset class="field-suscribirse">
                    <label for="correo" class="label-form-subscribirse">Correo</label>
                    <input type="email" required name="correo" id="correo" class="input-suscribirse">
                </fieldset>
                <fieldset class="field-suscribirse">
                    <label for="monto" class="label-form-subscribirse">Monto</label>
                    <input type="number" name="monto" id="monto" class="input-suscribirse">
                </fieldset>
                <span>{{mensage}}</span>
                <div class="btn-suscribirse-n">
                    <input type="submit" value="Suscribirse" class="btn-form-subscribirse">
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock content %}