<div class="continaer-search">
  <input
  type="search"
  placeholder="buscar..."
  id="searchproduct"
  (keyup)="search($event)"
  >
  <div class="container-check">
    <label for="" class="text-check">Filter</label>
    <div class="check-box">
      <input type="checkbox" name="" id="btn-switch" (click)="activateFilter()">
      <label for="btn-switch" class="label-switch"></label>
    </div>
  </div>
  <select name="" id="" class="select-form" *ngIf="filterActivate" (change)="filter($event)">
    <option *ngFor="let category of servicio.listCategories" [value]="category.id">{{category.name_category}}</option>
  </select>
</div>
<div class="title">
  <h1>
    Productos
  </h1>
</div>

<div class="container-products" *ngIf="activeList">
  <article class="product" *ngFor="let product of listProducts | search:name">
    <div class="header-product">
      <img [src]="product.image" alt="image product">
    </div>
    <div class="body-product">
      <h2>
        {{product.name_product}}
      </h2>
      <ul>
        <li>
          Precio: ${{product.price}}
        </li>
        <li>
          Stock: {{product.stock}}
        </li>
        <li>
          Categoria: {{product.idCategory}}
        </li>
        <li>
          <p>
            Descripcion: {{product.description}}
          </p>
        </li>
      </ul>
      <button type="button" [routerLink]="['product/', product.slug]">Ver</button>
    </div>
  </article>
</div>

<div class="container-products" *ngIf="filterActivate">
  <article class="product" *ngFor="let product2 of listFilter">
    <div class="header-product">
      <img [src]="'http://localhost:8000' + product2.image" alt="image product">
    </div>
    <div class="body-product">
      <h2>
        {{product2.name_product}}
      </h2>
      <ul>
        <li>
          Precio: ${{product2.price}}
        </li>
        <li>
          Stock: {{product2.stock}}
        </li>
        <li>
          Categoria: {{product2.idCategory}}
        </li>
        <li>
          <p>
            Descripcion: {{product2.description}}
          </p>
        </li>
      </ul>
      <button type="button" [routerLink]="['product/', product2.slug]">Ver</button>
    </div>
  </article>
</div>

<footer class="pie-products" *ngIf="servicio.activeFooter">
  <div class="container-pie">
    <p>
      Productos
    </p>
    <p class="logo">
      Garden Store ©
    </p>
  </div>
</footer>
