.title{
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
}

.continaer-search{
  padding: 15px 20px;
  background-color: #9bc0ff;
  align-items: center;
  display: flex;

  .container-check{
    text-align: center;
    .text-check{
      font-size: 16px;
    }

    .check-box{
      margin: 5px 10px;

      .label-switch{
        display: inline-block;
        width: 55px;
        height: 30px;
        background-color: #AAA;
        border-radius: 100px;
        position: relative;
        cursor: pointer;
      }

      .label-switch:after{
        position: absolute;
        content: '';
        width: 22px;
        height: 22px;
        background-color: #FFFFFF;
        border-radius: 50%;
        top: 4px;
        left: 5px;
        transition: 0.3s;
      }

      #btn-switch:checked~ .label-switch{
        background-color: #61A0FF;
      }

      #btn-switch:checked~ .label-switch:after{
        left: 28px;
      }

      #btn-switch{
        display: none;
      }
  }
  }


  #searchproduct{
    padding: 10px;
    width: 30%;
    border-radius: 10px;
    font-size: 17px;
    border: none;
  }

  .select-form{
    margin-left: 5px;
    padding: 10px;
    border-radius: 10px;
    border: none;
  }

}

@media screen and (max-width: 910px) {
  .continaer-search{
    #searchproduct{
      width: 100%;
    }
  }
}

.container-products{

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .product{
    width: 90%;
    max-width: 350px;
    margin: 20px;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #9F9F9F;
    overflow: hidden;

    .header-product{

      img{
        width: 100%;
        height: 250px;

      }

    }
    .body-product{
      padding: 15px;
      text-align: center;

      h2{
        padding: 0 0 15px 0;
        font-size: 22px;
        font-weight: 900;

      }

      ul{
        list-style: none;
        text-align: left;

      }

      button{
        margin: 15px 0 10px 0;
        padding: 7px 35px;
        border-radius: 10px;
        background-color: #FFFFFF;
        border: 1px solid #3C9AFE;
        font-size: 16px;
        color: #3C9AFE;
        cursor: pointer;

      }

      button:hover{
          background-color: #3C9AFE;
          color: #FFFFFF;
          transition: all 0.3s;

      }
    }
  }
}


.pie-products{
  .container-pie{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #9bc0ff;
    margin-top: 20px;
    align-items: center;
    .logo{
      font-size: 20px;
      font-weight: 900;
    }
  }
}
